// SPDX-License-Identifier: GPL-2.0

/dts-v1/;
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include "210.dtsi"

/ {
	model = "sate210 based on S5PV210";
	compatible = "samsung,s5pv210";

	chosen {
		bootargs = "console=ttySAC1 noinitrd root=/dev/mmcblk0p1 rw rootfstype=ext4 rootwait init=/linuxrc ignore_loglevel earlyprintk";
	};

	memory@20000000 {
		device_type = "memory";
		reg = <0x20000000 0x10000000
			   0x40000000 0x10000000>;
	};

	210_misc {
		compatible = "210,misc";
	};

	ethernet@88000000 {
		compatible = "davicom,dm9000";
		reg = <0x88000000 0x2 0x88000008 0x2>;
		interrupt-parent = <&gph0>;
		interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;
		local-mac-address = [00 00 de ad be ef];
		davicom,no-eeprom;
		pinctrl-names = "default";
		pinctrl-0 = <&xm0_csn1 &xm0_oen &xm0_wen &xm0_addr2 &xm0_data>;
		assigned-clocks = <&clocks CLK_SROMC>;
		assigned-clock-rates = <0>;
	};
};

&xusbxti {
	clock-frequency = <24000000>;
};

&uart0 {
	pinctrl-0 = <&uart0_data>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	pinctrl-0 = <&uart1_data>;
	pinctrl-names = "default";
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2_data>;
	pinctrl-names = "default";
	status = "okay";
};

&uart3 {
	pinctrl-0 = <&uart3_data>;
	pinctrl-names = "default";
	status = "okay";
};
